<!DOCTYPE html>
<html>

<head>
    <title>Anıl Dombaycı</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anıl Dombaycı Portfolio">
    <meta name="keywords" content="Portfolio, Anıl Dombaycı">
    <meta name="author" content="Anıl Dombaycı">
    <meta http-equiv="refresh" content="30">
    <script src="https://kit.fontawesome.com/b855b973a7.js" crossorigin="anonymous"></script>
    <script src="scripts/modal.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-rIhiy8lnTlT3aUdjH8Zx/7F4bP5rzxDpB+oYlg8TIxpXtNTvq6td7F3uM0W7+4j" crossorigin="anonymous">
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered is-size-1-desktop is-size-1-mobile">
                Anıl Dombaycı
            </h1>
            <p class="subtitle has-text-centered is-size-3-desktop is-size-3-mobile">
                Juniour Android<br>Javascript<br>Web Developer
            </p>
            <div class="buttons is-centered">
                <a class="button is-light is-medium is-responsive" href="https://discord.com/users/585562692132274197"
                    target="_blank">
                    <i class="fa-brands fa-discord"></i>
                </a>
                <a class="button is-light is-medium is-responsive" href="https://github.com/anildombayci"
                    target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a class="button is-light is-medium is-responsive" href="mailto:brtritantf@gmail.com">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </div>
            <div class="buttons is-centered">
                <a class="button is-danger is-medium is-responsive" href="/dino"
                    target="_blank">
                    <strong><i class="fa-solid fa-cubes"></i>&nbsp;&nbsp;Dino oyna!</strong>
                </a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="box">
                <h1 class="title  is-size-2-desktop is-size-2-mobile">Hakkımda</h1>
                <div class="box">
                    <p1 class="subtitle is-size-4-desktop is-size-4-mobile">
                        Merhaba! Benim adım Anıl.<br>
                        21 yaşındayım ve Türkiye'de yaşıyorum.<br>
                        Küçük yaşlarımdan itibaren yazılım ve kodlamaya büyük bir ilgi duydum.<br>
                        Temel düzeyde Node.js ve başlangıç seviyesinde Android programlama, aynı zamanda gelişmiş düzeyde web ve Discord API konularında bilgi sahibiyim.                       
                    </p1>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="box">
                <h1 class="title is-size-2-desktop is-size-2-mobile">Yetenekler</h1>
                <div class="box">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td><strong>Node.JS</strong></td>
                                <td>
                                    <progress class="progress is-primary" value="80" max="100">80%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Android Kotlin/Java</strong></td>
                                <td>
                                    <progress class="progress is-primary" value="30" max="100">30%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Discord API</strong></td>
                                <td>
                                    <progress class="progress is-primary" value="80" max="100">80%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Express/Ejs/HTML</strong></td>
                                <td>
                                    <progress class="progress is-primary" value="80" max="100">80%</progress>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
        </div>
        <br>
        <div class="container">
            <div class="box">
                <h1 class="title is-size-2-desktop is-size-2-mobile">Herkese Açık Projeler</h1>
                <div class="box">
                    <h1 class="title is-size-3-desktop is-size-3-mobile">
                        terminal.xr
                        <a href="https://npmjs.com/terminal.xr" target="_blank">
                            <br><i class="fab fa-npm fa-2x"></i>
                        </a>
                    </h1>
                    <h1 class="title is-size-4-desktop is-size-4-mobile">Yazılımcılar için gelişmiş terminal logger modülü</h1>
                    <p1 class="subtitle is-size-4-desktop is-size-4-mobile">
                        Bu modül, gelişmiş bir terminal logger modülüdür. Loglanan verileri düzenli bir şekilde takip etmenize ve ayrı bir text sayfasında kaydetmenize olanak tanır. Özel logger tarzınızı oluşturabilir ve logları şekillendirmenize izin verir. Görsel olarak bilgiyi daha iyi anlamak için loglara ikonlar ekleyebilme özelliğini destekler.
                    </p1>
                </div>
                <div class="box">
                    <h1 class="title is-size-3-desktop is-size-3-mobile">
                        xr-easy-json
                        <a href="https://npmjs.com/xr-easy-json" target="_blank">
                            <br><i class="fab fa-npm fa-2x"></i>
                        </a>
                    </h1>
                    <h1 class="title is-size-4-desktop is-size-4-mobile">Yazılımcılar için basit veri tabanı yönetim modülü</h1>
                    <p1 class="subtitle is-size-4-desktop is-size-4-mobile">
                        Bu modül, basit bir veritabanı yönetim modülüdür. Verileri local cihazda istediğiniz gibi kayıt edebilir silebilir düzenleyebilirsiniz.
                    </p1>
                </div>         
            </div>
        </div>
    </section>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC50XWN4WK"></script>
    <script src="scripts/googleAnalytics.js"></script>
</body>

</html>